# Python & PyInstaller
__pycache__/
*.py[cod]
*$py.class
*.spec
build/
dist/
bin/

# Downloaded files & temporary media (NEVER commit to GitHub)
downloads/
*.part
*.ytdl
*.mp4
*.webm
*.mp3
*.m4a

# User authentication files & cookies (NEVER commit to GitHub)
cookies/
*.txt
!requirements.txt

# Logs & temp files
*.log
crash_log.txt
err.txt
out.txt
stderr.txt
stdout.txt

# OS generated
.DS_Store
Thumbs.db
